<br>
    <div>
<h4 class="text-info text-center" style="background-color:rgb(190, 204, 64);color:white;text-align: center;line-height: 50px;">Admin Details Information</h4>
<table class="table form-style">
    
    <thead>
      <tr>
        <th>Id</th>
        <th>{{selectedAdmin.id}}</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>{{selectedAdmin.name}}</th>
      </tr>
      <tr>
        <th>Contact No.</th>
        <th>{{selectedAdmin.contactNo}}</th>
      </tr>
      <tr>
        <th>Email</th>
        <th>{{selectedAdmin.email}}</th>
      </tr>
      <tr>
        <th>Gender</th>
        <th>{{selectedAdmin.gender}}</th>
      </tr>

      <tr>
            <th>Reason</th>

                    <th>{{selectedAdmin.reason}}</th>
                            
                

          </tr>

          <tr>
                <th>Action</th>
               
                        <th>{{selectedAdmin.action}}</th>
                                

                
              </tr>

              <tr>
                    <th>Checklist selected </th>
                    <th>
                            {{selectedAdmin.checklistSelected}}
                            
                    
                    </th>
                  </tr>

                  <tr>
                        <th>Customer Response</th>
                        <th>{{selectedAdmin.customerResponse}}</th>
                      </tr>
      
     
    </thead>

</table>
</div>


    
    
   