.exprt-files-btn {
  float: right;
}

:host {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  
}
.mt-2{
  overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

.actions {
  justify-content: flex-end;
}

.container {
  height: 100%;
}
