<br>
    <div>
<h4 class="text-info text-center">Admin Details Information</h4>
<table class="table form-style">
    <thead>
      <tr>
        <th>Id</th>
        <th>{{selectedAdmin.id}}</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>{{selectedAdmin.name}}</th>
      </tr>
      <tr>
        <th>Contact No.</th>
        <th>{{selectedAdmin.contactNo}}</th>
      </tr>
      <tr>
        <th>Email</th>
        <th>{{selectedAdmin.email}}</th>
      </tr>
      <tr>
        <th>Gender</th>
        <th>{{selectedAdmin.gender}}</th>
      </tr>
      
     
    </thead>
</table>
</div>

<div class="form-group">
    

    Comment : <input type="text" [(ngModel)]="comment" aria-setsize="150"  style="height: 150px; width: 300px;"/>
    
    
    </div>
    
    <div   class="form-group">
        
        <button type="submit"   style="margin-left: 400px ;" class="btn btn-primary login-btn" (click) ="approve()">Approve </button>          
    
    
    
        
        <button type="submit"  style="margin-left: 100px ;"  class="btn btn-primary login-btn" (click) ="reject()">Reject</button>
    </div>
   