.add-files-btn {
  float: left;
}

:host {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.actions {
  justify-content: flex-end;
}

.container {
  height: 100%;
}
.uploadCard {
  background-color: rgba(250, 209, 209, 0.644);
}

.limit-warn {
  font-size: smaller;
  color: rgb(255, 102, 0);
  float: left;
}

.limit-file-msg {
  font-size: smaller;
  color: rgb(76, 0, 255);
  float: left;
}


.error-val {
  font-size: smaller;
  color: rgb(255, 0, 0);
  float: left;
}