<br>
    <div>
<h4 class="text-info text-center">Admin Information</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Contact No.</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Nationality</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of checkedAdmins ">
      <td >{{admin.id}}</td>
      <td >{{admin.name}}</td>
      <td >{{admin.contactNo}}</td>
      <td>{{admin.email}}</td>
      <td >{{admin.gender}}</td>
      <td >{{admin.nationality}}</td>
      
      <td >
                
      
    <!-- Modal HTML -->
    </td>
    
    </tr>
  </tbody>
</table>
</div>