<app-navbar></app-navbar>
<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf = "pos == -1">
  <div class="container" *ngIf="!showMyActivities">
    <br>
    <div>
      <h4 class="text-info">Approve Pane</h4>
      <div>&nbsp;</div>
      <h4 class="text-info">Pending For Approval</h4>
      <div>&nbsp;</div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Email</th>
            <th>Gender</th>
            
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins | paginate: { itemsPerPage: count, currentPage: p }">
            <td (click) = "displayDetails(admin)">{{admin.id}}</td>
            <td (click) = "displayDetails(admin)">{{admin.name}}</td>
            <td (click) = "displayDetails(admin)">{{admin.contactNo}}</td>
            <td (click) = "displayDetails(admin)">{{admin.email}}</td>
            <td (click) = "displayDetails(admin)">{{admin.gender}}</td>
        <!--   
            <td >
                      
            <input type="checkbox"  name="checkbox" (change)="onChange(admin)">
           Modal HTML 
          </td>-->
          
          </tr>
        </tbody>
      </table>
  </div>
  <div class="text-right">   
    <pagination-controls (pageChange)="p = $event"></pagination-controls   >
</div>

<div class="form-group">
    

Comment : <input type="text" [(ngModel)]="comment" aria-setsize="150"  style="height: 150px; width: 300px;"/>


</div>
</div>
<div   class="form-group">
    
    <button type="submit"   style="margin-left: 400px ;" class="btn btn-primary login-btn" (click) ="approve()">Approve </button>          



    
    <button type="submit"  style="margin-left: 100px ;"  class="btn btn-primary login-btn" (click) ="reject()">Reject</button>
</div>
</div>

<!--<div *ngIf="pos != -1">
  <app-admin-details [checkedAdmins]="checkedAdmins"></app-admin-details>
  <br>
  <span>&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span>
  <button href="#myModal" class="trigger-btn" data-toggle="modal" type="button" class="btn btn-success" >Assign To Me</button>
  <span>&nbsp;</span><span>&nbsp;</span>
  <button type="button" class="btn btn-danger" (click) = "goBack()">Back</button>

-->

<div *ngIf="pos != -1">

    <div class="container" *ngIf="!showMyActivities">
        <br>
        <div>
          <h4 class="text-info">Approve Pane</h4>
          <div>&nbsp;</div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Contact No.</th>
                <th>Email</th>
                <th>Gender</th>
                
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let admin of admins | paginate: { itemsPerPage: count, currentPage: p }">
                <td (click) = "displayDetails(admin)">{{admin.id}}</td>
                <td (click) = "displayDetails(admin)">{{admin.name}}</td>
                <td (click) = "displayDetails(admin)">{{admin.contactNo}}</td>
                <td (click) = "displayDetails(admin)">{{admin.email}}</td>
                <td (click) = "displayDetails(admin)">{{admin.gender}}</td>
               
               <!-- <td >
                          
               <input type="checkbox"  name="checkbox" (change)="onChange(admin)">
               
              </td>-->
              
              </tr>
            </tbody>
          </table>
      </div>
      <div class="text-right">   
        <pagination-controls (pageChange)="p = $event"></pagination-controls   >
    </div>
    <div>
    <app-approverdetails [selectedAdmin]="selectedAdmin" ></app-approverdetails>
    </div>
    
    <div class="form-group">
        
    
    Comment : <input type="text" [(ngModel)]="comment" aria-setsize="150"  style="height: 150px; width: 300px;"/>
    
    
    </div>
    </div>
    <div   class="form-group">
        
        <button type="submit"   style="margin-left: 400px ;" class="btn btn-primary login-btn" (click) ="approve()">Approve </button>          
    
    
    
        
        <button type="submit"  style="margin-left: 100px ;"  class="btn btn-primary login-btn" (click) ="reject()">Reject</button>
    </div>

  
  <br>
  <span>&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span>
  
  <button type="button" class="btn btn-danger" (click) = "goBack()">Back</button>
</div>
