<app-navbar></app-navbar>
<app-deck-card></app-deck-card>
<!--The content below is only a placeholder and can be replaced.-->
<br><br>

<div class="container">
  <div class="row">
    <div class="">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Dormant Accounts</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Assigned task</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Pending task</a>
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Customer Feedback</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          Dadu sectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        Komal sectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        Rajlaxmi nsectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
        </div>
        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
          Customer Feedback
        </div>
      </div>
    
    </div>
  </div>
</div>


<div *ngIf = "pos == -1">
  <div class="container" *ngIf="!showMyActivities">
    <br>
    <div>
      <h4 class="text-info">List Of Dormant Accounts</h4>
      <div>&nbsp;</div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Nationality</th>
            <th>Assigned to</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers | paginate: { itemsPerPage: count, currentPage: p }">
            <td (click) = "displayDetails(customer)">{{customer.id}}</td>
            <td (click) = "displayDetails(customer)">{{customer.name}}</td>
            <td (click) = "displayDetails(customer)">{{customer.contactNo}}</td>
            <td (click) = "displayDetails(customer)">{{customer.email}}</td>
            <td (click) = "displayDetails(customer)">{{customer.gender}}</td>
            <td (click) = "displayDetails(customer)">{{customer.nationality}}</td>
            
            <td *ngIf="checkAssignedTo(customer)">
                      
            <button href="#myModal" class="trigger-btn" data-toggle="modal" type="button" class="btn btn-info" >Assign To Me</button>
          <!-- Modal HTML -->
          <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header">
                				
                  <h4 class="modal-title">Are you sure?</h4>	
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Do you really want to Assign this task to yourself?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-danger" (click) = "assignToUser(customer)">Yes</button>
                  <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
          <td *ngIf="!checkAssignedTo(customer)" (click) = "displayDetails(customer)">{{customer.assignedTo}}</td>

          </tr>
        </tbody>
      </table>
  </div>
  
    <!--Including the pagination control.-->
  <div class="text-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  
    <br>
    <button type="button" class="btn btn-success" (click)="showAssignedToMe()">Show assigned to me</button>
  </div>
  <br>
  <div class="container" *ngIf="showMyActivities">
    <br>
    <div>
      <h4 class="text-info">My Open Activities</h4>
      <div>&nbsp;</div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Nationality</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of myCustomers | paginate: { itemsPerPage: count1, currentPage: p1 }">
            <td (click) = "displayDetails(customer)">{{customer.id}}</td>
            <td (click) = "displayDetails(customer)">{{customer.name}}</td>
            <td (click) = "displayDetails(customer)">{{customer.contactNo}}</td>
            <td (click) = "displayDetails(customer)">{{customer.email}}</td>
            <td (click) = "displayDetails(customer)">{{customer.gender}}</td>
            <td (click) = "displayDetails(customer)">{{customer.nationality}}</td>
           </tr>
        </tbody>
      </table>
  </div>
  
  <!--Including the pagination control.-->
  <div class="text-right">
      <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
  </div>
  
    <br>
    <button type="button" class="btn btn-danger" (click)="showAllActivities()">Back</button>
  </div>
</div>
<div *ngIf="pos != -1" >
  <app-customer-details [selectedCustomer]="selectedCustomer"></app-customer-details>
  <app-customer-feedback></app-customer-feedback>
  <br><br>
  <span>&nbsp;</span><span>&nbsp;&nbsp;&nbsp;</span>
  <button type="button" class="btn btn-danger" (click) = "goBack()">Back</button>
  <br><br>
  <br>
  <br>
</div>
