<nav class="navbar navbar-expand">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <img class= "navbar-brand" width="30" src="../assets/img/DACS.png"/>
      <ul class="navbar-nav title1 companytitle">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/Home">D.A.C.S</a>
        </li>
       </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item tag" >
          <a class="nav-link" (click)="login()">Login</a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item tag">
            <a class="nav-link">Register</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="home-div">
   <div  class="landing-title">Dormant Account Manager</div>
</div>