.feedback-form {
    width: 59%;
    /* margin: 60px auto; */
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
    border: 3px solid #305A72;
}